<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header'); %>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

         <!-- Sidebar -->
         <%- include('../partials/sidebar'); %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include('../partials/topbar'); %>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    
                    <div class="container">
                        <div class="card shadow mb-12">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Edit Blog</h6>
                            </div>
                            <div class="card-body">
                                <% result.forEach((val) => { %>
                                <form class="user" action="/admin/personal-info/edit" method="post" enctype="multipart/form-data">
                                    <div class="form-group" align="center">
                                        <img width="250px" height="250px" src="/uploads/<%= val.avarta %>" alt="">
                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" value="<%= val.avarta %>" name="img">
                                        <input type="hidden" value="<%= val.id %>" name="id">
                                        <input type="text" value="<%= val.fullname %>" name="fullname" class="form-control form-control-user" required aria-describedby="" placeholder="Full Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" value="<%= val.nick_name %>" name="nickname" class="form-control form-control-user"  aria-describedby="" placeholder="Nick Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" value="<%= val.current_position %>" name="currentposition" class="form-control form-control-user"  aria-describedby="" placeholder="Current Position">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" value="<%= val.status %>" name="status" class="form-control form-control-user"  aria-describedby="" placeholder="Status">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" value="<%= val.email %>" name="email" class="form-control form-control-user"  aria-describedby="" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" value="<%= val.phone %>" name="phone" class="form-control form-control-user"  aria-describedby="" placeholder="Phone">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="file" id="formFile" name="file"  style="height: 57px; border-radius: 10rem;">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" name="aboutme" id="exampleFormControlTextarea1" rows="3" placeholder="Describe yourself here..." style="border-radius: 1rem;"><%= val.about_me %></textarea>
                                    </div>
                                    
                                    <button class="btn btn-primary btn-user btn-block btn-create">
                                        Save
                                    </button>
                                    <hr>
                                </form>
                                <% }) %>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include('../partials/footer'); %>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <%- include('../partials/scriptLink'); %>

</body>

</html>